<%- js('js/jquery.gritter-1.7.4.min') %>
<%- js('js/gsap-3.6.1.min') %>
<div class="theme-wrap">
    <div class="theme-inner">
        <%
            // 主题图片路径配置
            let themeConfig = {};
            for (let i = 0; i < theme.themes.length; i++) {
                themeConfig[theme.themes[i]] = theme.path[theme.themes[i]];
            }
            // 配置的主题个数
            const themeNum = theme.themes.length;
            const ROTATE_NUM = 10;
        %>
        <!-- 配置的主题个数小于等于10，采用10个图片的曲屏环形旋转样式布局-->
        <% if (themeNum <= ROTATE_NUM) { %>
        <%- partial('_partial/rotate_theme', {themeConfig: themeConfig, themeNum: themeNum, ROTATE_NUM: ROTATE_NUM}) %>
        <% } %>
    </div>
    <div class="arrow-wrap">
        <div class="left-arrow"></div>
        <div class="right-arrow"></div>
    </div>
</div>

<footer id="theme-footer">
    <p>
        <% if (config.author){ %>
        &copy; <%= new Date().getFullYear() %> <%= config.author %>
        <% } %> 
    </p>
    <p>
        Powered by <a href="https://hexo.io/" target="_blank">Hexo</a>, <a href="https://github.com/huazie/hexo-theme-diversity" target="_blank">Diversity</a>
    </p>
</footer>
<%- js('js/theme') %>