<head>
    <meta charset="utf-8">
    <% 
        var title = page.title;
        var themeName = config.theme.charAt(0).toUpperCase() + config.theme.slice(1);
        if (title) title += ' | ' + themeName;
        if (!title) title = theme.title;
        if (!title) title = config.title;
    %>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <% if (config.author){ %><meta name="author" content="<%= config.author %>"><% } %>
    <% if (theme.description){ %>
    <meta name="description" content="<%= theme.description %>">
    <% } else if (config.description){ %>
    <meta name="description" content="<%= config.description %>">
    <% } %>
    
    <% if (theme.title){ %><meta property="og:title" content="<%= theme.title %>"/><% } %>
    <meta property="og:site_name" content="<%= config.title %>"/>
    <% if(theme.image) { %>
    <meta property="og:image" content="<%= theme.image %>" />
    <% } else { %>
    <meta property="og:image" content="<%= config.image %>"/>
    <% } %>

    <% if (theme.favicon){ %>
    <%- favicon_tag(theme.favicon) %>
    <% } %>

    <%- css('css/font-awesome.min.css') %>
    <%- css('css/style.css') %>

    <%- js('js/jquery-3.6.0.min') %>
    <%- js('js/jquery.gritter-1.7.4.min') %>
    <%- js('js/gsap-3.6.1.min') %>
    <%- js('js/js.cookie-2.2.1.min') %>
    <%- js('js/diversity') %>

    <script>
        // 全局配置数据
        var config = new Object();
        config.themes = JSON.parse('<%- JSON.stringify(theme.themes || []) %>');
        config.ports = JSON.parse('<%- JSON.stringify(theme.ports || []) %>');
        config.source = JSON.parse('<%- JSON.stringify(theme.source || []) %>');
        config.page = JSON.parse('<%- JSON.stringify(theme.page || []) %>');
        config.back2top = JSON.parse('<%- JSON.stringify(theme.back2top || []) %>');
        config.menu = JSON.parse('<%- JSON.stringify(site.data.diversity_menu || []) %>');
        config.button = new Object();
        config.button.theme_default = '<%= __('button.theme-default') %>';
        config.button.cancel_defalut = '<%= __('button.cancel-defalut') %>';
        config.button.theme_redirect = '<%= __('button.theme-redirect') %>';
        config.button.theme_source = '<%= __('button.theme-source') %>';
        config.gritter = new Object();
        config.gritter.title_theme = '<%= __('gritter.title-theme') %>';
        config.gritter.text_configured = '<%= __('gritter.text-configured') %>';
        config.gritter.text_canceled = '<%= __('gritter.text-canceled') %>';
        config.gritter.text_clicktojump = '<%= __('gritter.text-click-to-jump') %>';
        config.introduction = new Object();
        <% theme.themes.forEach(function(theme) { %>  
        config.introduction['<%= theme %>'] = '<%= __('introduction.' + theme) %>';
        <% }); %>
        config.no_theme = new Object();
        config.no_theme.back_image = '<%= theme.back_image%>';
        config.no_theme.tip_text = '<%= __('no-theme.tip-text') %>';
        config.no_theme.btn_text = '<%= __('no-theme.btn-text') %>';
    </script>
</head>